/* #region || ------- CSS RESET ------- 
*, *::before, *::after {
    box-sizing: border-box;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion || ------- CSS RESET -------
*/

/* #region || ------- Variables ------- */
:root {
    --black: #000000;
    --white: #ffffff;
    --pri: #263A5A;
    --sec: #AFCEE6;
    --accent: #BF2928;
}
/* #endregion || ------- Variables ------- */

/* #region || ------- General Styles (Mobile First) ------- */
html {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: var(--sec);
    background-color: var(--black);
}
body {
    margin: 0 auto;
    background-color: var(--pri);
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 3fr;
    min-height: 100vh;
}
a { 
    text-decoration: none;
    color: var(--sec);
}
.hide {
    display: none;
}
header {
    grid-area: header;
    height: 85px;
}
main {
    grid-area: main;
    margin: 0 auto;
    /*padding: 50px 20px;*/
}
h2 {
    font-family: aviano-flare, sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: var(--accent);
}
h3, h4, h5 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
}

/* ------- LOGO ------- */
#logo {
    margin: 0 25px;
    font-family: aviano-flare, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36pt;
}
#full {
    display: none;
}
#initials {
    display: block;
}
/* ------- LOGO END ------- */

/* ------- NAVIGATION ------- */
nav {
    grid-area: nav;
    display: grid;
    justify-content: end;
}
nav ul {
    overflow: hidden;
    max-height: 0;
}
#dropdown {
    display: block;
}
li {
    list-style-type: none;
}
nav li {
    text-transform: uppercase;
}
nav a:hover {
    color: var(--accent);
}
.active {
    color: var(--accent);
}
/* ------- NAVIGATION END ------- */

/* ------- WORK THUMBNAILS ------- */
.container {
    justify-content: center;
    align-items: center;
    margin:  10vmin;

    .card {
        flex: 1;
        transition: all 1s ease-in-out;
        height: 95vmin;
        position: relative;
        margin: 15px;

        .card_title {
            color: black;
            background: #BF2928CF;
            padding: 0.5em;
            transform: rotate(-90deg);
            transform-origin: bottom left;
            transition: all 0.7s ease-in-out;
            min-width: 100%;
            text-align: center;
            position: absolute;
            /*
            bottom: 20;
            left: 20;
            */
            font-size: 1em;
            white-space: nowrap;
            top: calc(80%);
        }

        &:hover {
            /*flex-grow: 15;*/
            img {
                filter: grayscale(0);
            }
            .card_title {
                text-align: center;
                /*top: calc(100% - 1.1em);*/
                color: var(--sec);
                background: var(--pri);
                font-size: 2em;
                transform: rotate(0deg);
                z-index: 1;
                padding: 0;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease-in-out;
            filter: grayscale(100%);
            outline: 4px solid white;
        }
        &:not(:nth-child(5)) {
            margin-right: 1em;
        }
    }
}
/* ------- WORK THUMBNAILS END ------- */

/* ------- BIO ------- */
#profile_img {
    height: 300px;
}
#bio {
    display: grid;
    grid-template-rows: 80px repeat(4, auto);
    padding: 35px;
}
#page_title {
    grid-row: 1 / span 1;
}
#bio_img {
    grid-row: 3 / span 1;
}
#profile_img {
    width: 300px;
    height: auto;
}
#statement {
    grid-row: 2 / span 1;
}
#about {
    grid-row: 4 / span 1;
}
#list {
    grid-row: 5 / span 1;
}
/* ------- BIO END ------- */

/* ------- FOOTER ------- */
footer {
    grid-area: footer;
    display: grid;
    justify-content: end;
    padding: 20px;
}
footer img {
    padding-right: 35px;
    padding-bottom: 35px;
}
/* ------- FOOTER END ------- */
/* #endregion || ------- General Styles (Mobile First) ------- */

/* #region || ------- Small 600px ------- */
@media screen and (min-width: 600px) {
body {
    width: 100%;
}
}
/* #endregion || ------- Small 600px ------- */

/* #region || ------- Medium 768px ------- */
@media screen and (min-width: 768px) {
body {
    width: 100%;
}
#full {
    display: block;
    font-size: .65em;
}
#initials {
    display: none;
}
nav {
    top: 5px;
    overflow: visible;
}
nav ul {
    top: 5px;
    overflow: visible;
    display: grid;
    grid-template-columns: 100px 80px 100px;
}
#dropdown {
    display: none;
}
/*
.image-wrapper {
    width: 150px;
    height: 450px;
    overflow: hidden;
    display: flex;
    float: left;
    outline: 4px solid white;
    margin: 50px;
    align-items: center;
    justify-content: center;
    transition: overflow .3s ease-in-out;
}
*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10vmin;
    transform: skew(5deg);

    .card {
        flex: 1;
        transition: all 1s ease-in-out;
        height: 65vmin;
        position: relative;

        .card_title {
            color: black;
            background: #BF2928CF;
            padding: 0.5em;
            transform: rotate(-90deg);
            transform-origin: top left;
            transition: all 0.5s ease-in-out;
            min-width: 100%;
            text-align: center;
            position: absolute;
            /*
            bottom: -10;
            left: -10;
            */
            top: calc(100%);
            font-size: 2em;
            white-space: nowrap;
        }

        &:hover {
            flex-grow: 15;
            img {
                filter: grayscale(0);
            }
            .card_title {
                text-align: center;
                top: calc(100% - 2em);
                color: var(--sec);
                background: var(--pri);
                font-size: 2em;
                transform: rotate(0deg);
                z-index: 1;
                padding: 10px 0px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s ease-in-out;
            filter: grayscale(100%);
            outline: 4px solid white;
        }
        &:not(:nth-child(5)) {
            margin-right: 1em;
        }
    }
}
/* ------- CONTAINER ------- */
/* ------- BIO ------- */
#bio {
    display: grid;
    grid-template-columns: 60px 400px auto;
    grid-template-rows: 80px auto auto auto;
    gap: 25px;
    column-gap: 50px;
}
#page_title {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}
#bio_img {
    grid-column:  3 / span 1;
    grid-row: 2 / span 2;
}
#profile_img {
    width: 300px;
    height: auto;
}
#statement {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#about {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
#list {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}
/* ------- BIO END ------- */
}
/* #endregion || ------- Medium 768px ------- */

/* #region || ------- Large 1200px max ------- */
@media screen and (min-width: 1200px) {
body {
    width: 1200px;
}
#full {
    font-size: 1em;
}
/*
.image-wrapper {
    width: 200px;
    height: 650px;
}
*/
#bio {
    grid-template-columns: 115px 600px auto;
}
}
/* #endregion || ------- Large 1200px max ------- */