/* #region || ------- CSS RESET ------- 
*, *::before, *::after {
    box-sizing: border-box;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion || ------- CSS RESET -------
*/

/* #region || ------- Variables ------- */
:root {
    --black: #000000;
    --white: #ffffff;
    --pri: #263A5A;
    --sec: #AFCEE6;
    --accent: #BF2928;
    --greybg: #F5F5F5;
    --dkaccent: #A02222;
}
/* #endregion || ------- Variables ------- */

/* #region || Skip Link Styles */
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#skip:focus {
		position: static;
		width: auto;			
		height: auto;
}
/* #endregion || Skip Link Styles */

/* #region || Hidden Content Styles */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* #endregion || Hidden Content Styles */

/* #region || ------- General Styles ------- */
html {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: var(--pri);
    line-height: 1.5;
}
body {
    margin: 0 auto;
    background-color: var(--greybg);
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    grid-area: header;
    height: 85px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main {
    grid-area: main;
    margin: 0 auto;
}
a { 
    text-decoration: none;
    color: var(--pri);
}
a:focus, button:focus, input:focus {
	outline: 4px solid var(--dkpurple);
}
h2 {
    font-family: aviano-flare, sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: var(--dkaccent);
}
h3, h4, h5 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
}
#logo {
    margin: 0 25px;
    font-family: aviano-flare, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36pt;
}
li {
    list-style-type: none;
}
nav {
    max-width: 100%;
}
nav li {
    text-transform: uppercase;
    padding: 10px 18px 18px;
}
nav a:hover {
    color: var(--dkaccent);
    font-weight: 700;
}
.container {
    display: flex;
    align-items: center;
    margin: 0 5vmin;
    gap: 20px;
}
/* ------- FOOTER ------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: end;
    padding: 20px;
}
footer img {
    padding-right: 15px;
    padding-bottom: 20px;
}
/* ------- FOOTER END ------- */
/* #endregion || ------- General Styles ------- */

/* #region || ------- General Classes ------- */
.hide {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}
.active {
    color: var(--dkaccent);
}
/* #endregion || ------- General Classes ------- */

/* #region || ------- Mobile First ------- */
/* ------- LOGO (Mobile) ------- */
#full {
    display: none;
}
#initials {
    display: block;
}
/* ------- LOGO END (Mobile) ------- */

/* ------- NAVIGATION (Mobile) ------- */
nav {
    z-index: 1000;
    font-size: 2em;
    transition: all .5s ease-in-out;
}
nav ul {
    text-align: center;
    overflow: hidden;
    max-height: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    /*color: var(--sec);*/
    background-color: #ffffffF0;
    transition: all .5s ease-in-out;
}
#menutext {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
    padding-right: 20px;
    color: var(--pri);
}
#dropdown:checked ~ ul {
    max-height: 80vh;
}
#dropdown {
    display:none;
}
/* ------- NAVIGATION END (Mobile) ------- */

/* ------- CASE STUDY GALLERY (Mobile) ------- */
.container {
    flex-direction: column;
    margin: 0 5vmin;
    gap: 20px;
}
.card {
    transition: all .5s ease-in-out;
    position: relative;
    margin: 30px;
}
.card_title {
    color: var(--pri);
    background: var(--sec);
    min-width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2em;
    white-space: nowrap;
    top: calc(85%);
    padding: 10px 0;
    outline: 4px solid var(--black);
    transition: all .3s ease-in-out;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    outline: 4px solid var(--black);
    outline-offset: 0;
}
.card:hover .card_title {
    background-color: var(--dkaccent);
    color: var(--greybg);
    /*outline: 4px solid var(--pri);*/
    
}
.card:hover img {
    outline: 4px solid var(--pri);
}
/* ------- CASE STUDY GALLERY END (Mobile) ------- */

/* ------- ABOUT (Mobile) ------- */
#profile_img {
    height: 300px;
}
#bio {
    display: grid;
    grid-template-rows: 80px repeat(4, auto);
    padding: 0 35px;
}
#page_title {
    grid-row: 1 / span 1;
}
#bio_img {
    grid-row: 3 / span 1;
    align-self: center;
    margin: 0 auto;
}
#profile_img {
    width: 300px;
    height: auto;
    border-radius: 10%;
    border: 5mm ridge var(--pri);
}
#statement {
    grid-row: 2 / span 1;
}
#about {
    grid-row: 4 / span 1;
}
#list {
    grid-row: 5 / span 1;
}
/* ------- ABOUT END (Mobile) ------- */

/* -------  CASE STUDIES (Mobile) ------- */ 
#case_container {
    margin: 0 auto;
    padding: 20px;
}
.link {
    color: var(--dkaccent);
    font-size: 1.5em;
}
div #images_mockup img, div #images img, div #images_flat img {
    width: 98%;
    /*padding: 15px;*/
    margin: 25px;
}

div #images_flat img {
    width: 90%;
    padding: 15px;
}
.image_meta {
    text-align:end;
    margin-bottom: 25px;
    margin-right: 25px;
    color: var(--sec);
} 
/* -------  CASE STUDIES END (Mobile) ------- */
/* #endregion || ------- Mobile First ------- */

/* #region || ------- Medium 768px ------- */
@media screen and (min-width: 768px) {
/* LOGO */
#full {
    display: block;
    font-size: .65em;
}
#initials {
    display: none;
}
/* NAVIGATION 768px */
nav {
    position: absolute;
    justify-self: end;
    font-size: 1.5em;
    top: 0;
    /*right: 100px;*/
}
nav ul {
    display: flex;
    overflow: visible;
    justify-content: end;
    max-height:fit-content;
    max-width: fit-content;
    background-color: var(--greybg);
    top: -15px;
}
#dropdown, #menutext  {
    display: none;
}
/* NAVIGATION 768px END */

/* CONTAINER 768px */
.container {
    flex-direction: row;
    justify-content: center;
    margin: 10vmin;
    /*transform: skew(5deg);*/
}
.card {
    flex: 1;
    height: 30vmin;
    position: relative;
}
.card_title {
    color: var(--dkaccent);
    padding: 0.5em;
    height: 0;
    width: 0;
    top: 100%;
    position: absolute;
    font-size: 1em;
    visibility:hidden;
    z-index: -5;
}
.card:hover {
    flex-grow: 15;
}
.card:hover .card_title {
    text-align: center;
    top: calc(100% - 2em);
    color: var(--dkaccent);
    background-color: var(--greybg);
    font-size: 2em;
    height: 15%;
    width: 100%;
    padding: 10px 0px;
    visibility: visible;
    z-index: 500;
}
.card:hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: grayscale(0);
    outline-offset: 0;
}
.card:not(:nth-child(5)) {
    margin-right: 1em;
}
.container:has(.card:hover)
        .card:not(:hover) {
            filter: blur(4px) grayscale(100%);
}
/* CONTAINER 768px END */

/* ABOUT 768px */
#bio {
    /*display: grid;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto auto auto;
    gap: 25px;
    column-gap: 50px;
}
#page_title {
    grid-column: 1 / span 2;
}
#bio_img {
    grid-column:  2 / span 1;
    grid-row: 2 / span 2;
}
/*
#profile_img {
    width: 300px;
    height: auto;
}
*/
#statement {
    grid-column: 1 / span 1;
    /*grid-row: 2 / span 1;*/
}
#about {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
#list {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
/* ABOUT 768px END */

/* CASE STUDIES 768px */
#case_container {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 1fr;
    grid-template-rows: 150px auto auto;
    column-gap: 25px;
    align-items: start;
}
#case_header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
}
#info {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    align-self: start;
    background-color: var(--sec);
    color: var(--black);
    padding: 25px;
    border-radius: 25px;
}
#images {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: center;
    width: 100%;
}
/*
.image_card {
    
}
/*
.mockup {
    max-width: 100%;
    height: auto;
}
*/
/* CASE STUDIES 768px END */
}
/* #endregion || ------- Medium 768px ------- */

/* #region || ------- Large 1200px max ------- */
@media screen and (min-width: 1200px) {
body, header {
    max-width: 1200px;
}
#full {
    font-size: 1em;
}
#bio {
    grid-template-columns: 50% 50%;
}
}
/* #endregion || ------- Large 1200px max ------- */
