/* #region || ------- CSS RESET ------- 
*, *::before, *::after {
    box-sizing: border-box;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* #endregion || ------- CSS RESET -------
*/

/* #region || ------- Variables ------- */
:root {
    --black: #000000;
    --white: #ffffff;
    --pri: #263A5A;
    --sec: #AFCEE6;
    --accent: #BF2928;
}
/* #endregion || ------- Variables ------- */

/* #region || ------- General Styles (Mobile First) ------- */
html {
    font-family: aviano-flare, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: var(--pri);
}
body {
    margin: 0 auto;
    background-color: var(--sec);
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
}
a { 
    text-decoration: none;
    color: var(--pri);
}
.hide {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}
header {
    grid-area: header;
    height: 85px;
}
main {
    grid-area: main;
    margin: 0 auto;
}
h2 {
    font-family: aviano-flare, sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: var(--accent);
}
h3, h4, h5 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
}

/* ------- LOGO ------- */
#logo {
    margin: 0 25px;
    font-family: aviano-flare, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36pt;
}
#full {
    display: none;
}
#initials {
    display: block;
}
/* ------- LOGO END ------- */

/* ------- NAVIGATION ------- */
nav {
    z-index: 1000;
    font-size: 2em;
}
nav ul {
    text-align: center;
    overflow: hidden;
    max-height: 0;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    color: var(--sec);
    background-color: #ffffffF0;
}
#menutext {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
    padding-right: 20px;
    color: var(--pri);
}
#dropdown:checked ~ ul {
    max-height: 80vh;
}
#dropdown {
    display:none;
}
#dropdown:checked ~ ul {
    max-height: 400px;
}
li {
    list-style-type: none;
}
nav li {
    text-transform: uppercase;
    padding: 10px 18px 18px;
}
nav a:hover {
    color: var(--accent);
    font-weight: 700;
}
.active {
    color: var(--accent);
}
/* ------- NAVIGATION END ------- */

/* ------- CASE STUDY GALLERY ------- */
.container {
    align-items: center;
    margin: 0 5vmin;
}
.container .card {
        transition: all .5s ease-in-out;
        position: relative;
        margin: 30px;
}
.card_title {
    color: var(--accent);
    background: var(--pri);
    min-width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2em;
    white-space: nowrap;
    top: calc(85%);
    padding: 10px 0;
    outline: 4px solid var(--pri);
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    outline: 4px solid white;
    outline-offset: 0;
}
.card:hover .card_title {
    background-color: var(--accent);
    color: var(--sec);
    outline: 4px solid var(--accent);
}
.card:hover img {
    outline: 4px solid var(--accent);
}
/* ------- CASE STUDY GALLERY END ------- */

/* ------- ABOUT ------- */
#profile_img {
    height: 300px;
}
#bio {
    display: grid;
    grid-template-rows: 80px repeat(4, auto);
    padding: 0 35px;
}
#page_title {
    grid-row: 1 / span 1;
}
#bio_img {
    grid-row: 3 / span 1;
    align-self: center;
    margin: 0 auto;
}
#profile_img {
    width: 300px;
    height: auto;
    border-radius: 10%;
}
#statement {
    grid-row: 2 / span 1;
}
#about {
    grid-row: 4 / span 1;
}
#list {
    grid-row: 5 / span 1;
}
/* ------- ABOUT END ------- */

/* -------  CASE STUDIES ------- */ 
#case_container {
    margin: 0 auto;
    padding: 20px;
}
.link {
    color: var(--accent);
    font-size: 1.5em;
}
div #images_mockup, div #images {
    max-width: 550px;
}
div #images_mockup img, div #images img, div #images_flat img {
    width: 90%;
    padding: 15px;
}

div #images_flat img {
    width: 90%;
    padding: 15px;
}

#case_title {
    background-color: var(--sec);
}
.image_meta {
    text-align: center;
} 
/* -------  CASE STUDIES END ------- */

/* ------- FOOTER ------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: end;
    padding: 20px;
}
footer img {
    padding-right: 15px;
    padding-bottom: 20px;
}
/* ------- FOOTER END ------- */
/* #endregion || ------- General Styles (Mobile First) ------- */

/* #region || ------- Small 600px ------- */
@media screen and (min-width: 600px) {
/*
body {
    width: 100%;
}
*/
}
/* #endregion || ------- Small 600px ------- */

/* #region || ------- Medium 768px ------- */
@media screen and (min-width: 768px) {
body {
    grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 1fr;
}
#full {
    display: block;
    font-size: .65em;
}
#initials {
    display: none;
}
/* ------- NAVIGATION 768px ------- */
nav {
    transition: all .5s ease-in-out;
    position: absolute;
    justify-self: end;
    font-size: 1.5em;
}
nav ul {
    display: flex;
    overflow: visible;
    justify-content: end;
    max-height:fit-content;
    max-width: fit-content;
    background-color: var(--sec);
    top: -15px;
}
#dropdown, #menutext  {
    display: none;
}
/* ------- NAVIGATION 768px END -------  */

/* ------- CONTAINER 768px ------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10vmin;
    transform: skew(5deg);
}
.card {
    flex: 1;
    transition: all .5s ease-in-out;
    height: 30vmin;
    position: relative;
}
.card .card_title {
    color: var(--accent);
    padding: 0.5em;
    height: 0;
    width: 0;
    top: 100%;
    text-align: center;
    position: absolute;
    font-size: 1em;
    white-space: nowrap;
    visibility:hidden;
    transition: all .1s ease-in-out;
    z-index: -5;
}
.card:hover {
    flex-grow: 15;
}
.card:hover .card_title {
    text-align: center;
    top: calc(100% - 2em);
    color: var(--sec);
    background-color: var(--accent);
    font-size: 2em;
    height: 10%;
    width: 100%;
    padding: 10px 0px;
    visibility: visible;
    z-index: 500;
}
.card:hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: grayscale(0);
    outline: 4px solid white;
    outline-offset: 0;
}
.card:not(:nth-child(5)) {
    margin-right: 1em;
}
.container:has(.card:hover)
        .card:not(:hover) {
            filter: blur(4px) grayscale(100%);
}
/* ------- CONTAINER 768px END ------- */

/* ------- ABOUT 768px ------- */
#bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto auto auto;
    gap: 25px;
    column-gap: 50px;
}
#page_title {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
#bio_img {
    grid-column:  2 / span 1;
    grid-row: 2 / span 2;
}
#profile_img {
    width: 300px;
    height: auto;
}
#statement {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
#about {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
#list {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
/* ------- ABOUT 768px END ------- */

/* ------- CASE STUDIES 768px ------- */
#case_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    grid-template-rows: 100px auto auto;
    column-gap: 50px;
    align-items: start;
}
#case_header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
}
#info {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    align-self: start;
}
#images {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    max-width: 400px;
}
.image_card {
    align-items: center;
}
/*
.mockup {
    max-width: 100%;
    height: auto;
}
    */
/* ------- CASE STUDIES 768px END ------- */
}
/* #endregion || ------- Medium 768px ------- */

/* #region || ------- Large 1200px max ------- */
@media screen and (min-width: 1200px) {
body {
    width: 1200px;
}
#full {
    font-size: 1em;
}
#bio {
    grid-template-columns: 50% 50%;
}
}
/* #endregion || ------- Large 1200px max ------- */